<a
  href="#"
  class="btn button"
  style="
    background-color: {{ block.settings.background_color }};
    color: {{ block.settings.text_color }};
    padding: {{ block.settings.button_padding }};
    margin: {{ block.settings.button_margin }};
  "
>
  {{ block.settings.button_text }}
</a>

{% schema %}
{
  "name": "Pickup Button",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Pickup"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000ff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "button_padding",
      "label": "Button Padding",
      "default": "10px 5px"
    },
    {
      "type": "text",
      "id": "button_margin",
      "label": "Button Margin",
      "default": "10px 5px"
    },
    {
      "label": "Button Label",
      "id": "pick_up_button",
      "type": "text",
      "default": "Pick Up Today",
      "info": "Label for the button that will be displayed on PDP"
    },
    {
      "label": "Store search proximity",
      "id": "store_proximity",
      "type": "number",
      "info": "Proximity in miles that will be used when searching for stores, by default there will be no limit on search all the stores will be displayed as search results"
    },
    {
      "label": "Show out of stock stores",
      "id": "show_out_of_stock_stores",
      "type": "checkbox",
      "default": true,
      "info": "Control whether to display stores with no inventory for an item in the Pickup selection modal"
    },
    {
      "label": "Enable pick up here",
      "id": "enable_pick_up",
      "type": "checkbox",
      "default": true,
      "info": "Control whether to display a pick up button for stores. Turn it off if you do not want to allow customers to order pick up items and just serve the modal as a store finder."
    },
    {
      "label": "Configure store selector display",
      "id": "store_selector_display",
      "type": "radio",
      "default": "modal",
      "info": "Control whether to display the store selector as a modal or inline",
      "options": [
        { "value": "modal", "label": "Modal" },
        { "value": "inline", "label": "Inline" }
      ]
    },
    {
      "label": "Include warehouse for pick up",
      "id": "enable_pick_up_warehouse",
      "type": "checkbox",
      "default": false,
      "info": "Control whether to display warehouses in the store selection list for pick up"
    },
    {
      "label": "Add Pickup Store property",
      "id": "pickup_item_property",
      "type": "checkbox",
      "default": true,
      "info": "Whether to add a property on item that will include the store’s address from where the item to be picked, this will be displayed on UI and will be visible to end user."
    },
    {
      "label": "Pick up Store property label",
      "id": "pickup_item_property_label",
      "type": "text",
      "default": "Pickup Store",
      "info": "Label for the store address on item property",
      "visible_if": "{{ block.settings.pickup_item_property }}"
    },
    {
      "label": "Show store weekly timing",
      "id": "show_store_weekly_timings",
      "type": "checkbox",
      "default": false,
      "info": "Control the UI to whether display the store weekly timing with the store information"
    },
    {
      "label": "Include home store in search results",
      "id": "show_homestore_search_result",
      "type": "checkbox",
      "default": false,
      "info": "Include the selected home store in the search results, not recommended as the same store will be displayed twice once as a home store another in the search results."
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
